// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// COLORS
// 1st color scheme
$white: #fff;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
// 2nd color scheme
$smoky-black: #0C0910;
$quick-silver: #A0A0A0;
$granite-gray: #686963;
// Fonts
$mono-font: 'Space Mono',
monospace;
// font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
// weights
$font-regular: 400;
$font-bold: 700;
// margins
$container-margin: 35px;