img {
    max-width: 100%;
}


/**
 * Basic styles for links
 */

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $spanish-pink;
    }
    &:active {
        color: $platinum;
    }
}


/**
 * Basic styles for lists
 */

li {
    list-style-type: none;
}