@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Lobster', cursive;
}

.carousel-indicators li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
}

.carousel-indicators {
    position: initial;
}

hr {
    height: 1px;
    background-color: black;
}

.img-hide {
    cursor: pointer;
}

.list-group-flush>.list-group-item {
    border-width: 0 0 0;
}

.list-group-item {
    padding: .75rem 0;
}