// color scheme
// first color scheme
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
// second color scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
// third color scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;
// Typography
// Fonts
$display: 'Playfair Display',
serif;
$sans-serif: 'Roboto',
sans-serif;
// weights
$font-regular: 400;
$font-light: 300;
// font style
$font-italic: italic;
// Font sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;