.author {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author_rrss,
.author_web {
    color: $primary-scheme;
    &:hover {
        color: $secondary-scheme;
    }
}

.author_name {
    font-family: $display;
    font-style: $font-italic;
}