// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button-primary {
    border: 1px solid $red;
    border-radius: 1.5rem;
    padding: 10px;
    background-color: white;
    color: $red;
}

.button-primary:hover {
    border: 1px solid $red;
    border-radius: 1.5rem;
    padding: 10px;
    background-color: $mona-lisa;
    cursor: pointer;
    color: $red;
}