/**
 * Basic typography style for copy text
 */

// h1 {
//     @include relative-converter(font-size, rem, 60, 16);
// }
body {
    font-family: $mono-font;
}

h2 {
    font-size: $large;
    margin: 10px 0 5px 0;
}

p {
    font-size: 1em;
    line-height: 1.4;
}

button {
    font-family: $mono-font;
}