// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    background-color: $smoky-black;
    color: $white;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: $large;
}

.fa-bars {
    font-size: $x-large;
}

.navbar--mobile {
    margin-right: $container-margin;
    pointer: cursor;
    @include breakpoint(phablet) {
        display: none;
    }
}

.navbar {
    display: none;
    &_list {
        display: flex;
        flex-direction: row;
    }
    &_item {
        list-style-type: none;
        margin-right: $container-margin;
    }
    @include breakpoint(phablet) {
        display: block;
    }
}

input.toggle-check-btn {
    opacity: 0;
}

.toggle-btn {
    cursor: pointer;
    position: fixed;
    right: 20px;
}

.icon-link {
    font-size: 12px;
    transform: translateX(80px);
    font-family: $main-font;
    text-align: center;
    color: transparent;
    text-decoration: none;
    transition: all cubic-bezier(.77, 0, .18, 1) 0.5s;
}

.toggle-check-btn:checked~.toggle-btn {
    color: blue;
    transition: all cubic-bezier(.77, 0, .18, 1) 0.5s;
}

.toggle-check-btn:checked~.icon-link {
    margin-right: 6px;
    color: $smoky-black;
    top: 0;
}

.toggle-check-btn:checked~.icon-link:nth-child(5) {
    margin-right: 10px;
}

@media only screen and (max-width:356px) {
    .icon-link {
        font-size: 10px;
    }
}