header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}

.header__nav {
    padding: 10px;
    &__list {
        display: flex;
        top: 0;
        & li {
            margin-left: 10px;
        }
    }
}