// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.main-button {
    border-radius: 50px;
    width: 200px;
    font-size: $medium;
}