// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// COLORS
// 1st color scheme
$red: #ff0000;
$mona-lisa: #ff968b;
$grandis: #f9d48a;
$bermuda: #85d4c1;
// 2nd color scheme
// Fonts
$mono-font: 'Fira Code',
monospace;
// font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
// weights
$font-regular: 400;
$font-bold: 700;