/*********************
BREAKPOINTS
*********************/
img {
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/**
 * Set up a decent box model on the root element
 */
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
body {
  color: #ff0000;
}

a {
  text-decoration: none;
  color: #ff0000;
}
a:hover {
  background-color: #ff968b;
}

li {
  list-style-type: circle;
}

.wrapper {
  border: 1px solid #ff0000;
  border-radius: 1rem;
  padding: 40px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150px);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**
 * Basic typography style for copy text
 */
body {
  font-family: "Fira Code", monospace;
}

h2 {
  font-size: 18px;
  margin: 10px 0 5px 0;
}

p {
  font-size: 1em;
  line-height: 1.4;
}

button {
  font-family: "Fira Code", monospace;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.header {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
@media (min-width: 768px) {
  .header {
    background-color: transparent;
  }
}
.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: block;
  }
}
.header__nav-mobile .dropbtn {
  cursor: pointer;
}
.header__nav-mobile .dropdown-content {
  display: none;
  right: 20px;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  text-align: right;
  margin-top: 20px;
}
.header__nav-mobile .dropdown-content a {
  margin-bottom: 10px;
}
.header__nav-mobile .show {
  display: flex;
}
@media (min-width: 768px) {
  .header__nav-mobile {
    display: none;
  }
}
.header__logo {
  max-width: 30px;
}
.header__nav a {
  margin-left: 15px;
  padding: 0.2rem 0.75rem;
  border: 1px solid #ff0000;
  border-radius: 10rem;
}

.main-section__left-column__wrapper {
  margin-bottom: 20px;
}
.main-section__left-column__img {
  border-radius: 1rem;
}
.main-section .img-wrapper img {
  width: 100px;
  border-radius: 1rem;
}
.main-section__right-column {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}
.main-section p {
  margin-bottom: 20px;
}
.main-section i {
  margin-right: 5px;
}

.img-wrapper svg {
  width: 150px;
  margin: 100px 0;
}

svg .moving-figure {
  animation: move 2s ease-out infinite alternate;
}

svg .color-wheel,
svg .inner-circle {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  transform-origin: center center;
  transform-box: fill-box;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  margin-bottom: 20px;
}
.hero-section__img {
  width: 80%;
  height: auto;
}

.footer {
  margin-top: 10px;
  margin-bottom: 40px;
}
.footer a {
  padding-left: 10px;
}
.footer .footer__links a:nth-child(1)::after {
  content: "  |";
}
.footer__wrapper {
  align-items: center;
}
.footer .small-text {
  font-size: 14px;
}
.footer .form {
  display: flex;
  flex-direction: column;
}
.footer .form input {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer .form {
    display: block;
  }
}

.button-primary {
  border: 1px solid #ff0000;
  border-radius: 1.5rem;
  padding: 10px;
  background-color: white;
  color: #ff0000;
}

.button-primary:hover {
  border: 1px solid #ff0000;
  border-radius: 1.5rem;
  padding: 10px;
  background-color: #ff968b;
  cursor: pointer;
  color: #ff0000;
}

/*# sourceMappingURL=main.css.map */
