:root {
    --blue: #31a6b0;
    --text-color: #f1efe0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: var(--text-color);
}

hr {
    background-color: var(--blue);
    height: 2px;
}

#quienes-somos,
#destacados,
#contacto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: top;
}

.active {
    border-bottom: 1px solid var(--text-color);
    transition: 0.5s ease-in;
}

footer {
    background-color: var(--blue);
}

li {
    list-style: none;
}

i {
    font-size: 30px;
    margin-left: 30px;
    color: var(--text-color);
}