:root {
    --blue: #31a6b0;
    --text-color: #f1efe0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: var(--text-color);
}

.card {
    background-color: var(--blue);
}

hr {
    background-color: var(--blue);
    height: 2px;
}

.card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
}

#quienes-somos,
#destacados,
#contacto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: top;
}

.active {
    border-bottom: 1px solid var(--text-color);
    transition: 0.5s ease-in;
}

footer {
    background-color: var(--blue);
}

li {
    list-style: none;
}

footer i {
    font-size: 2em;
    color: var(--text-color);
}

.i-background {
    width: 100%;
    background-color: var(--blue);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.i-background i {
    font-size: 1.5em;
}

.popover {
    background-color: black;
}

.popover-header {
    background-color: #ffc108;
    color: black;
}

.popover-body {
    color: #ffc108;
}

.bs-popover-left .arrow::after {
    border-left-color: black;
}

@media screen and (max-width: 752px) {
    #quienes-somos,
    #destacados,
    #contacto {
        height: auto;
        display: block;
    }
    .carousel-item img {
        height: auto;
        width: 100vw;
    }
    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    header {
        background-color: black;
        position: sticky!important;
        top: 0;
    }
}