@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background-color: #ffe180;
    font-family: 'Press Start 2P', mono;
}

.jumbotron {
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

body>section.result.container.nes-container.is-rounded,
body>section.chart.container.nes-container.is-rounded {
    margin: 30px auto;
}

.logo-img {
    max-width: 700px;
    text-align: center;
    margin: 40px auto;
    display: block;
}

.d-flex {
    display: flex;
}

.space-betweeen {
    justify-content: space-between;
}

.spacer {
    margin: 80px;
}

.pokemon-pixel {
    width: 200px;
    height: auto;
}