.header {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    @include breakpoint(small) {
        background-color: transparent;
    }
    &__nav {
        display: none;
        @include breakpoint(small) {
            display: block;
        }
    }
    &__nav-mobile {
        & .dropbtn {
            cursor: pointer;
        }
        & .dropdown-content {
            display: none;
            right: 20px;
            position: absolute;
            background-color: white;
            width: 100%;
            z-index: 1;
            flex-direction: column;
            text-align: right;
            margin-top: 20px;
            & a {
                margin-bottom: 10px;
            }
        }
        .show {
            display: flex;
        }
        @include breakpoint(small) {
            display: none;
        }
    }
    &__logo {
        max-width: 30px;
    }
    &__nav a {
        margin-left: 15px;
        padding: .2rem .75rem;
        border: 1px solid $red;
        border-radius: 10rem;
    }
}