.main-section {
    &__left-column {
        &__wrapper {
            margin-bottom: 20px;
        }
        &__img {
            border-radius: 1rem;
        }
    }
    .img-wrapper img {
        width: 100px;
        border-radius: 1rem;
    }
    &__right-column {
        display: flex;
        align-items: stretch;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    i {
        margin-right: 5px;
    }
}

.img-wrapper svg {
    width: 150px;
    margin: 100px 0;
}

svg .moving-figure {
    animation: move 2s ease-out infinite alternate;
}

svg .color-wheel,
svg .inner-circle {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    transform-origin: center center;
    transform-box: fill-box;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}