footer {
    background-color: $eerie-black;
    height: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_logo {
    display: block;
    margin: 0 auto;
    max-width: 122px;
}