.pagination-container {
    background-color: $platinum;
    height: 134px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item:last-child .page-link {
    color: $eerie-black;
    border-radius: 0px 15px 15px 0px;
}

.page-item:first-child .page-link {
    color: $eerie-black;
    border-radius: 15px 0 0 15px;
}